{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{zahl}} Quiz with {{name}} - viel Spass </title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>

    <div class="quiz-container">
        <h2 class="question">{{question}}</h2>
        <div class="options">
            {% for answer in question.answers.all %}
            <button onclick="selectAnswer('{{answer.votes}}')">{{answer.choice_text}}</button>  
            {% endfor %}     
        </div>
        <div id="result" class="result"></div>
    </div>

    <script>
        function selectAnswer(answer) {
            const result = document.getElementById('result');
            result.innerHTML = (answer == '1') ? `Top Anwort. Das ist die Richtige Anwort` : `Knapp daneben, falsche Antwort` ;
        }
    </script>
</body>
</html>
